* {
  font-family: Garamond, serif;
}

body {
  background-color: rgb(255, 240, 245);
}

#forms {
  background-color: hsl(100, 0%, 100%);
  padding: 5px 20px 20px 20px;
  border: solid 1pt lavender;
  margin: 30px 30px 30px 30px;
}

.heart {
  color: red;
  border: dotted 1pt pink;
  margin: auto;
  width: 500px;
  height: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: purple;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: yellow;
