* {
  font-family: Garamond, serif;
}

body {
  background-color: rgb(255, 240, 245);
}

#forms {
  background-color: hsl(0, 0%, 96.1%);
  padding: 20px;
  border: solid 6px red;
  margin: 30px;
}

/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: purple;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: yellow;
