* {
  font-family: Garamond, serif;
}

body {
  background-color: rgb(255, 240, 245);
}

#forms {
  background-color: hsl(100, 0%, 100%);
  padding: 5px 20px 20px 20px;
  border: solid 1pt lavender;
  margin: 30px 30px 30px 30px;
}

.heart {
  color: red;
  border: dotted 1pt pink;
  margin: auto;
  width: 200px;
  height: 225px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited { 
  color: blue;
}

/* hover over link */
a:hover {
  color: red;
}

/* active link */
a:active {
  color: yellow;
}

input[type="text"] {
  color: purple;
}

footer.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

main > p {
  position: relative;
  left: 1cm;
}

nav {
  display: flex;
  background-color: hsla(160,100%,97.1%,0.9);
  flex-flow: row wrap;
  justify-content: center;
}

nav > a {
  background-color: rgba(255,250,240,0.7);
  margin: 10px;
  padding: 10px;
  font-size: 0.8em;
}

.gridcontainer {
  display: grid;
  grid-template-areas:
    'header header;
    'one two'
    'three four';
  grid-gap: 10px;
  align-content: center;
}

.griditema { grid-area: header; }
.griditemb { grid-area: one; }
.griditemd { grid-area: two; }
.griditemc { grid-area: three; }
.griditeme { grid-area: four; }

@media only screen and (max-width: 600px) {
  body {
    background-color: #E6E6FA;
  }
}
